<h1>New Loan product charge</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.loan_product_charge_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.loan_product_charge_path(@conn, :index) %></span>
