<h1>Edit Ussd loan product</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.ussd_loan_product_path(@conn, :update, @ussd_loan_product)) %>

<span><%= link "Back", to: Routes.ussd_loan_product_path(@conn, :index) %></span>
